altgraph==0.17.5
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744946224/work
anyio @ file:///opt/miniconda3/conda-bld/anyio_1758623458954/work
attrs==25.4.0
babel==2.17.0
beautifulsoup4 @ file:///opt/miniconda3/conda-bld/beautifulsoup4-split_1764159491842/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961160997/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1763135328061/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774621/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840108/work
courlan==1.3.2
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1761931963121/work
curl_cffi==0.13.0
dateparser==1.2.2
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddkyz0575y/croot/distro_1714488254309/work
greenlet==3.3.0
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258730/work
htmldate==1.9.4
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447188226/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912004936/work
iniconfig @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ba93zhdgbo/croot/iniconfig_1752653743225/work
jiter @ file:///opt/miniconda3/conda-bld/jiter_1762897320764/work
jusText==3.0.2
lxml==6.0.2
lxml_html_clean==0.4.3
macholib==1.16.4
Markdown @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c8yxkefe2v/croot/markdown_1746114450220/work
openai @ file:///opt/miniconda3/conda-bld/openai_1759140183479/work
outcome==1.3.0.post0
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079150/work
playwright==1.57.0
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bei6q1cvvt/croot/pluggy_1733169621717/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496095146/work
pydantic @ file:///opt/miniconda3/conda-bld/pydantic_1764083525841/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009741287/work
pyee==13.0.0
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431580078/work
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyMySQL @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pymysql_1699261325040/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753011230/work
pytest @ file:///opt/miniconda3/conda-bld/pytest_1758124897811/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
regex==2025.11.3
requests @ file:///opt/miniconda3/conda-bld/requests_1762359592149/work
selenium==4.39.0
setuptools==80.9.0
six==1.17.0
sniffio @ file:///opt/miniconda3/conda-bld/sniffio_1764329150891/work
socks==0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1699282494776/work
tld==0.13.1
tornado @ file:///Users/ec2-user/croot/tornado_1765992647809/work
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863348388/work
trafilatura==2.0.0
trio==0.32.0
trio-websocket==0.12.2
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614168143/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzlocal==5.3.1
urllib3 @ file:///opt/miniconda3/conda-bld/urllib3_1765399198066/work
webdriver-manager==4.0.2
websocket-client==1.9.0
wheel==0.45.1
wsproto==1.3.2
